<h1>Medicine List</h1>

    <a href="/admin/">Profile</a> | 
	<a href="/admin/add_med">Add Medicine</a> |
	<a href="/admin/medicine_list">Medicine_list</a> | 
	<a href="/logout">logout</a>

<table border="1">
    <tr>
        <td>MEDICINE NAME</td>
        <td>CHEMICAL NAME</td>
        <td>QUANTITY</td>
        <td>ACTION</td>
    </tr>

<% for(var i=0; i< user.length; i++){ %>
    <tr>
        <td><%= user[i].med_name %></td>
        <td><%= user[i].chemical_name %></td>
        <td><%= user[i].quantity %></td>
        <td>
            <a href="/admin/edit/<%= user[i].med_id %>"> Edit </a>|
            <a href="/admin/delete_medicine/<%= user[i].med_id %>"> Delete 
            
        </td>
    </tr>

<% } %>
</table>